/* Common */
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  height: 10000px;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  color: #1d1d1d;
}
a {
  color: #1d1d1d;
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}
/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* BTN */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  background-color: #0071e3;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  box-shadow: 0 0 0 4px #81b9f1;
}
/* background-image */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: #0071e3;
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}

/* Figures */
.figures {
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

/* Header */
header {
  background-color: #3a3a3a;
  position: relative;
  z-index: 9;
}
header .inner {
  max-width: 1020px;
}
header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}
header ul.menu > li {
  display: flex;
  position: relative;
  transition: 0.4s;
}
header ul.menu > li a {
  padding: 0 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: 0.8;
  text-decoration: none;
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}
header ul.menu > li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}
header ul.menu > li.search-starter > a {
  background-image: url("../images/header_search.svg");
}
header ul.menu > li.basket-starter > a {
  background-image: url("../images/header_bag.svg");
}
header ul.menu > li > a:hover {
  cursor: pointer;
  opacity: 1;
}

/* Header/menu/basket */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
header .basket.show {
  visibility: visible;
  opacity: 1;
}
header .basket .arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden;
}
header .basket .arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 50%;
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid #d2d2d2;
}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}
header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
}
header .search .search-icon {
  width: 40px;
  height: 44px;
  background-image: url(../images/header_search.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
header .search .search-closer {
  width: 40px;
  height: 44px;
  background-image: url(../images/header_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  cursor: pointer;
}
header .search .search-closer:hover {
  opacity: 1;
}
header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 44px;
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: #f5f5f5;
  color: #0071e3;
}
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: 0.6s;
  transform: translate(100px, 0);
}

header.searching ul.menu > li {
  transform: scale(0.7);
  opacity: 0;
}
header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
  z-index: 9;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}

/* Navigation */
nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0;
  z-index: 8;
}
nav .inner {
  max-width: 1000px;
  height: 52px;
  display: flex;
  align-items: center;
}
nav h1 {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li:hover a {
  color: #0071e3;
}
nav .menu li.active a {
  opacity: 0.5;
  cursor: default;
}
nav .menu li.active:hover a {
  color: #1d1d1d;
}

/* Hero */
.hero {
  background-color: #f5f5f5;
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  background-image: url(../images/hero_ipad_text.png);
  width: 221px;
  height: 91px;
  position: absolute;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .figures {
  height: 808px;
}
.hero figure {
  transform: translate(74px, -64px);
}
.hero figure figcaption .caption-camera {
  width: 120px;
  height: 84px;
  transform: translate(43px, 580px);
  background-image: url(../images/hero_ipad_caption_camera.png);
}
.hero figure figcaption .caption-chip {
  width: 95px;
  height: 43px;
  transform: translate(589px, 510px);
  background-image: url(../images/hero_ipad_caption_chip.png);
}
.hero figure figcaption .caption-storage {
  width: 80px;
  height: 43px;
  transform: translate(627px, 631px);
  background-image: url(../images/hero_ipad_caption_storage.png);
}
.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url(../images/hero_headline.png);
}
.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%;
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center;
}
.hero .links {
  margin-top: 30px;
}
